{% extends "shared/base.html" %}

{% load static %}




{% block main %}

    <main class="main home">
            <div class="page-content">
                <section class="intro-section">
                    <div class="owl-carousel owl-nav-inside owl-theme row owl-nav-fade intro-slider animation-slider cols-1 gutter-no owl-nav-arrow"
                        data-owl-options="{
                         'rtl':true,
                        'loop': true,
                        'items': 1,
                        'autoplay': true,
                        'autoplayTimeout': 10000,
                        'responsive': {
                            '0': {
                                'items': 1
                            },
                            '768': {
                                'nav': false,
                                'dots': true
                            },
                            '992': {
                                'nav': true,
                                'dots': false
                            }
                        }
                    }">
                        <div class="intro-slide1 banner banner-fixed" style="background-color: #f6f6f6;">
                            <figure>
                                <img src="{% static 'images/beautiful-pet-portrait-small-dog-cat.jpg' %}" alt="intro-banner" width="1903"
                                    height="540" style="background-color: #ececec;" />
                            </figure>
                            <div class="container">
                                
                                
                                <div class="banner-content pb-1 rtl">
                                    <h2 class="banner-title mb-3 ls-m slide-animate"
                                        data-animation-options="{'name': 'fadeInRightShorter', 'duration': '1s', 'delay': '.2s'}">
                                        هر ضربان قلبی که نجات می‌دهیم،
                                    </h2>
                                    <h4 class="banner-subtitle text-uppercase mb-2 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                        داستان یک خانواده را
                                    </h4>
                                    <h4 class="banner-subtitle text-uppercase mb-2 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                         زنده نگه می‌دارد
                                    </h4>
                                    
                                </div>
                            </div>
                        </div>
                        
                        {% comment %} <div class="banner banner-fixed intro-slide2" style="background-color: #39351a;">
                            <figure>
                                <img src="{% static 'images/demos/demo-food2/slides/slide2.jpg' %}" alt="intro-banner" width="1903"
                                    height="540" style="background-color: #39351a;" />
                            </figure>
                            <div class="container">
                                <div class="row">
                                    <div class="banner-content x-50 y-50 text-center p-absolute mt-lg-4 rtl">
                                        <h4 class="banner-subtitle slide-animate font-weight-light text-white mb-3"
                                            data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s', 'delay': '.2s'}">
                                           کمیاب ترین میوه ها را ازما بخواهید
                                        </h4>
                                        <h2 class="banner-title mb-10 text-white slide-animate"
                                            data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '.4s'}">
                                            <span class="text-primary">تازه </span> و ارگانیک را <br> برای شما گرد آورده ایم
                                        </h2>
                                        <a href="demo-food2-shop.html"
                                           class="btn btn-lg btn-shadow btn-ellipse btn-solid btn-primary slide-animate btn-icon-right ls-m mb-9"
                                           data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s', 'delay': '.8s'}">
                                            مشاهده و انتخاب  <i class="d-icon-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="banner banner-fixed intro-slide3" style="background-color: #f1f1f4;">
                            <figure>
                                <img src="{% static 'images/demos/demo-food2/slides/slide3.jpg' %}" alt="intro-banner" width="1903"
                                    height="540" style="background-color: #f1f1f4;" />
                            </figure>
                            <div class="container">
                                <div class="banner-content y-50 offset-lg-7 pl-lg-3 text-right rtl">
                                    <h4 class="banner-subtitle slide-animate text-uppercase font-weight-normal ls-normal mb-3"
                                        data-animation-options="{'name': 'fadeInRightShorter', 'duration': '1s', 'delay': '.2s'}">
                                       سلامت را با ما تجربه کنید 
                                    </h4>
                                    <h2 class="banner-title font-weight-bold mb-0 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                         سبزیجات ،</h2>
                                    <h3 class="font-weight-normal slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                        میوه ها  <span class="text-primary">مغزیجات </span>
                                    </h3>
                                    <p class="pb-7 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                       ارسال سراسر کشور رایگان </p>
                                    <a href="demo-food2-shop.html"
                                        class="btn btn-ellipse btn-shadow btn-solid btn-primary slide-animate btn-icon-right ls-m mb-1"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s', 'delay': '.8s'}">
                                        مشاهده و انتخاب<i class="d-icon-arrow-left"></i></a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class="shape-divider">
                        <div class="shape1">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px"
                                 height="317.318px" viewBox="0 0 1920 317.318" enable-background="new 0 0 1920 317.318"
                                 xml:space="preserve" preserveAspectRatio="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                                  d="M1920.5,321.029L-0.493,319.064V188.854
                                    c0,0,266.042,282.328,851.688,0C1483.531-115.985,1817.728,72.4,1920.5,153.396V321.029z" style="opacity: .2;"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                                  d="M-0.5,270.412V113.073
                                    c98.208-70.839,407.683-228.759,985.305,29.000 7c593.667,264.928,935.688,0,935.688,0v128.332H-0.5z" style="opacity: .2;"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1920.5,234.867c-401.555-0.201-766.128-0.385-766.128-0.385
                                    s346.533-156.566,765.94-199.011c0.063-0.000 6,0.125-0.012,0.188-0.019V234.867z"
                                  style="opacity: .2;"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                                  d="M-0.5,288.449V13.697
                                    c163.401-0.867,337.865,32.776,510.441,125.717c160.954,86.684,317.758,63.473,422.06,59.639v88.85L-0.5,288.449z" style="opacity: .2;"></path>
                            </svg>
                        </div>
                        <div class="shape2">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-0.6 23.7 100 6"
                                 enable-background="new -0.6 23.7 100 6" xml:space="preserve">
                            <path fill="#FFFFFF" d="M99.4,24.5c0,0-8.7,3.7-16.1,4c-7.4,0.3-16.6-5-27.9-3.9c-8.7,0.8-9.5,4.4-23.4,4.9
                                    c-7.8,0.3-17.4-4.6-23.7-5.5c-6.3-0.8-9,0.3-9,0.3v5.4h100V24.5z"></path>
                            </svg>
                        </div>
                    </div>
                </section>

                <section class="banner">
                    
                        <figure>
                            <img src="{% static 'images/10 (1).jpg' %}" alt="" width="1903" height="787">
                        </figure>
                        <div class="container tea-banner-container">
                            <div class="banner-content rtl" style="position:absolute; top:50%; right:5%; transform:translateY(-50%); z-index:2; text-align:right;">
                                <h4 class="banner-subtitle font-secondary font-weight-light text-primary ls-normal">
                                    محصول جدید
                                </h4>
                                <h2 class="banner-title font-weight-bold">کیفیت عالی <br> عطر و طعم بی نظیر</h2>
                                <a href="demo-tea-shop.html" class="btn btn-link btn-underline ls-normal">
                                   مشاهده و انتخاب 
                                    <i class="d-icon-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                        
                        
                        
                    
                </section>
                
                <section class="category-section bg-primary">
                    <div class="shape-divider">
                        <div class="shape shape6">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 58.416 100 2.377"
                                 enable-background="new 0 58.416 100 2.377" xml:space="preserve">
                            <path fill="#fff"
                                  d="M0,58.529c0,0,24.974,2.082,49.96,2.082c25.013,0,50.04-2.082,50.04-2.082V39.388H0V58.529z">
                                </path>
                            </svg>
                        </div>
                        <div class="shape shape7">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 39.281 100 2.406"
                                 enable-background="new 0 39.281 100 2.406" xml:space="preserve">
                            <path fill="#fefefe"
                                  d="M100,41.471c0,0-24.975-2.083-49.96-2.083C25.026,39.388,0,41.471,0,41.471v19.14h100V41.471z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="title-wrapper title-white">
                        <h1 style="color: #d1d1d1; font-size: 5rem; text-align: center; font-family: 'Estedad', 'Vazirmatn', sans-serif; font-weight: 900; letter-spacing: 0.5px; text-shadow: 0 0 8px rgba(255, 255, 255, 0.25);">
  خدمات ما
</h1>

                
                    </div>
                    <div class="container text-center">
                        <div class="owl-carousel owl-theme owl-nav-fade row cols-lg-4 cols-md-3 cols-2 mb-6"
                             data-owl-options="{
                             'rtl':true,
                            'items': 4,
                            'nav': false,
                            'dots': false,
                            'margin': 20,
                            'loop': true,
                            'autoplay': true,
                            'autoplayTimeout': 4000,
                            'responsive': {
                                '0': {
                                    'items': 2
                                },
                                '768': {
                                    'items': 3
                                },
                                '992': {
                                    'items': 4,
                                    'nav': true
                                }
                            }
                        }">
                            <div class="category category-classic">
                                <figure class="category-media">
                                    <a href="demo-medical-shop.html">
                                        <img src="{% static 'images/demos/demo-medical/category/1.jpg' %}" alt="category" width="280"
                                             height="175">
                                    </a>
                                </figure>
                                <div class="category-content rtl">
                                    <h4 class="category-name">مراقبت های شخصی</h4>
                                    <span class="category-count">6 محصول</span>
                                </div>
                            </div>
                            <div class="category category-classic">
                                <figure class="category-media">
                                    <a href="demo-medical-shop.html">
                                        <img src="{% static 'images/demos/demo-medical/category/2.jpg' %}" alt="category" width="280"
                                             height="175">
                                    </a>
                                </figure>
                                <div class="category-content rtl">
                                    <h4 class="category-name">پزشکی و سلامت</h4>
                                    <span class="category-count">1 محصول</span>
                                </div>
                            </div>
                            <div class="category category-classic">
                                <figure class="category-media">
                                    <a href="demo-medical-shop.html">
                                        <img src="{% static 'images/demos/demo-medical/category/3.jpg' %}" alt="category" width="280"
                                             height="175">
                                    </a>
                                </figure>
                                <div class="category-content rtl">
                                    <h4 class="category-name">امکانات پزشکی</h4>
                                    <span class="category-count">3 محصول</span>
                                </div>
                            </div>
                            <div class="category category-classic">
                                <figure class="category-media">
                                    <a href="demo-medical-shop.html">
                                        <img src="{% static 'images/demos/demo-medical/category/4.jpg' %}" alt="category" width="280"
                                             height="175">
                                    </a>
                                </figure>
                                <div class="category-content rtl">
                                    <h4 class="category-name">تجهیزات پزشکی</h4>
                                    <span class="category-count">2 محصول</span>
                                </div>
                            </div>
                        </div>
                        <a href="demo-medical-shop.html" class="btn btn-rounded btn-dark">مشاهده همه دسته ها</a>
                    </div>
                </section>
                <section class="banner">
                    
                        <figure>
                            <img src="{% static 'images/mm.png' %}" alt="" width="1903" height="787">
                        </figure>
                       
                        
                        
                    
                </section>
                
                    <section class="products-section row gutter-no align-items-center">
                    <div class="col-lg-6">
                        <div class="intro-media appear-animate" style="background-color: #EFEFEF;">
                            <img src="{% static 'images/49ae09181f0430f0b8021afd4d451263.jpg' %}" alt="banner" width="951" height="645" />
                        </div>
                    </div>
                    
                    <div class="col-lg-6 order-lg-first">
                        
                            <h2 class="surgery-title">جراحی پیشرفته، با تکیه بر تجربه و مهارت بی‌رقیب</h2>
    <p class="surgery-soft-glow">
      واحد جراحی کلینیک، مجهز به مدرن‌ترین فناوری‌های جراحی و پایش بیهوشی،‌ میزبان یکی از برجسته‌ترین تیم‌های جراحی دامپزشکی کشور است.
      تجربه‌ی بالینی گسترده، مهارت فنی بی‌نظیر و سابقه‌ی موفق در جراحی‌های پیچیده، این تیم را به مرجع اطمینان بسیاری از صاحبان حیوانات خانگی تبدیل کرده است.
      اینجا جراحی تنها یک عمل نیست؛ تلفیقی‌ست از دقت، تصمیم‌گیری لحظه‌ای و دانش عمیق از آناتومی و فیزیولوژی حیوان.
    </p>
  </div>
</section>





<style>
  @import url('https://fonts.googleapis.com/css2?family=Estedad:wght@600&display=swap');

  .surgery-title {
    font-family: 'Estedad', 'Vazirmatn', sans-serif;
    font-size: 2.8rem;
    color: #000000;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .surgery-soft-glow {
    font-family: 'Estedad', 'Vazirmatn', sans-serif;
    font-size: 1.9rem;
    line-height: 3.2rem;
    color: #000;
    text-align: justify;
    direction: rtl;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 8px rgba(180, 180, 180, 0.87);
  }

  .col-lg-6.order-lg-first {
    padding: 0 30px; /* مثل همون قبلی */
    box-sizing: border-box;
  }
</style>
                        
                    </div>
                </section>
                <section class="banner banner-cta summer-banner parallax mt-10 rtl text-right" style="background-color: #5d4136"
                         data-image-src="{% static 'images/cats.dog.jpg' %}">
                    <div class="container-fluid">
                        <div class="banner-content d-inline-block">
                            <h3 class="banner-subtitle" style="color: white; font-size: 2.6rem; text-shadow: 0 2px 6px rgba(0,0,0,0.4);">
ما می‌دانیم که مراجعه به دامپزشک می‌تواند برای حیوانات خانگی استرس‌زا باشد.
</h3>

<h4 class="banner-title" style="color: white; font-size: 2.2rem; text-shadow: 0 2px 4px rgba(0,0,0,0.4);">
تیم ما با تکیه بر تجربه، آرام‌سازی محیط، و برخوردی ملایم تلاش می‌کند
</h4>
<h4 class="banner-title" style="color: white; font-size: 2.2rem; text-shadow: 0 2px 4px rgba(0,0,0,0.4);">
 هر بار حضور در کلینیک، برای حیوان شما تجربه‌ای ایمن و آرام باشد
</h4>


                        </div>
                    </div>
                </section>
                <section class="products-section row gutter-no align-items-center">
                    <div class="col-lg-6">
                        <div class="intro-media appear-animate">
                        <img src="{% static 'images/4ad6ec9fedfdce0076ed6dcd9c0c21a9.jpg' %}" alt="banner" width="960" height="664" />
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-firs">
                        
                        <h2 class="surgery-title">درمان تخصصی بیماری‌های داخلی، با تکیه بر علم و تجربه</h2>
                        <p class="surgery-soft-glow">
                           بخش بیماری‌های داخلی کلینیک با حضور دکتر رخشان، مرجع تشخیص و درمان بیماری‌های ویروسی، متابولیک و قلبی پیچیده است. با تسلط بر FIP و مشکلات قلبی پیشرفته و بهره‌گیری از روش‌های نوین علمی، مواردی که غیرقابل درمان به نظر می‌رسند، اینجا روند بهبودی می‌یابند. ترکیبی از دانش، تجربه و تعهد به زندگی.
                        </p>
                        </div>
                    </div>
                </section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Estedad:wght@600&display=swap');

  .surgery-title {
    font-family: 'Estedad', 'Vazirmatn', sans-serif;
    font-size: 2.8rem;
    color: #000000;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .surgery-soft-glow {
    font-family: 'Estedad', 'Vazirmatn', sans-serif;
    font-size: 1.9rem;
    line-height: 3.2rem;
    color: #000;
    text-align: justify;
    direction: rtl;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 8px rgba(180, 180, 180, 0.87);
  }

  .col-lg-6.order-lg-firs {
    padding: 0 30px; /* مثل همون قبلی */
    box-sizing: border-box;
  }
</style>

                <div class="container">
                    <section class="about-circle p-relative appear-animate pb-10 rtl text-right" data-animation-options="{
                        'name': 'fadeInUpShorter',
                        'duration': '1.2s',
                        'delay': '.2s'
                    }">
                        <h2 class="title-echo mb-lg-6 pl-1 pr-1">خدمات پایه دامپزشکی<span class="pl-6 pr-6">خدمات پایه دامپزشکی</span></h2>
                        <div class="row overflow-hidden">
                            <div class="col-lg-3 col-12 text-center mt-md-0">
                                <div class="icon-box icon-box1 pt-4">
                                    <div class="icon-box-icon mx-auto drop-shadow mr-lg-0 ">
                                        <figure>
                                            <img src="{% static 'images/heart.png' %}" alt="icon" width="43"
                                                height="48" />
                                        </figure>
                                    </div>
                                    <div class="icon-box-content text-lg-start">
                                        <h3 class="icon-box-title font-weight-bold text-normal">جراحی
                                        </h3>
                                        <p>از جراحی‌های ساده تا تخصصی، با استفاده از تجهیزات روز و رعایت کامل اصول بیهوشی، سلامت حیوان شما در اولویت ماست.</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box2 mt-lg-10 pt-6">
                                    <div class="icon-box-icon mx-auto drop-shadow mr-lg-0 ">
                                        <figure>
                                            <img src="{% static 'images/tooth.png' %}" alt="icon" width="49"
                                                height="40" />
                                        </figure>
                                    </div>
                                    <div class="icon-box-content text-lg-start">
                                        <h3 class="icon-box-title font-weight-bold text-normal">دندانپزشکی                                        </h3>
                                        <p>جرم‌گیری، ترمیم، و پیشگیری از مشکلات دهان و دندان، با تکنیک‌های مدرن و بدون استرس برای حیوانات خانگی شما. دهان سالم، حیوان شاد!</p></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mt-1 order-first order-lg-auto">
                                <figure class="d-flex justify-content-center floating"
                                    data-options='{"invertX":false, "invertY":false}' data-floating-depth=".1">
                                    <img class="layer" src="{% static 'images/snapedit_1753287500109.png' %}"
                                        alt="about-us" width="574" height="452" />
                                </figure>
                            </div>
                            <div class="col-lg-3 col-12 text-center pl-3">
                                <div class="icon-box icon-box3 pt-5">
                                    <div class="icon-box-icon mx-auto drop-shadow ml-lg-0 mr-lg-auto">
                                        <figure>
                                            <img src="{% static 'images/paw.png' %}" alt="icon" width="50"
                                                height="39" />
                                        </figure>
                                    </div>
                                    <div class="icon-box-content text-lg-end">
                                        <h3 class="icon-box-title font-weight-bold text-normal mr-1 ">
                                             مراقبت از ابتدا، با نگاه تخصصی
                                        </h3>
                                        <p> عضو کوچک تازه‌وارد خانواده، نیاز به نگاهی دقیق و علمی دارد. معاینه‌ی اولیه، پایه‌گذار مسیر سلامت و کیفیت زندگی اوست. </p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box4 mt-lg-10 pt-6">
                                    <div class="icon-box-icon mx-auto drop-shadow ml-lg-0 mr-lg-auto">
                                        <figure>
                                            <img src="{% static 'images/snapedit_1753368618702.png' %}" alt="icon" width="48"
                                                height="45" />
                                        </figure>
                                    </div>
                                    <div class="icon-box-content text-lg-end">
                                        <h3 class="icon-box-title font-weight-bold text-normal">چکاپ دوره‌ای و پایش سلامت
                                        </h3>
                                        <p>با ارزیابی منظم، امکان تشخیص زودهنگام و حفظ سلامت بلندمدت فراهم می‌شود؛ رویکردی علمی برای بهبود کیفیت زندگی حیوانات</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<section id="appointment-section">
  <div class="appointment-row">
    
    <!-- فرم نوبت‌دهی -->
    <div class="appointment-form">
      <h2 class="title">گرفتن یک <span class="highlight">نوبت</span></h2>
      <form id="form-main">
        <div class="form-group">
          <label>نام و نام خانوادگی</label>
          <input type="text" name="name" required />
        </div>
        <div class="form-group">
          <label>شماره تماس</label>
          <input type="tel" name="phone" required />
        </div>
        <div class="form-group">
          <label>تاریخ مراجعه</label>
          <input type="text" id="datepicker" name="date" required />
        </div>
        <div class="form-group">
          <label>ساعت</label>
          <select name="time" required>
            <option value="">انتخاب ساعت</option>
            <option>10:00</option>
            <option>12:00</option>
            <option>14:00</option>
            <option>16:00</option>
          </select>
        </div>
        <div class="form-submit">
          <button type="submit">
            نوبت‌دهی <span class="arrow">➜</span>
          </button>
        </div>
        <div id="form-message"></div>
      </form>
    </div>

    <!-- تصویر سگ -->
    <div class="appointment-image">
      <img src="{% static 'images/catpaw.png' %}" alt="" />
    </div>
    
  </div>
</section>

<style>
#appointment-section {
  padding: 60px 40px;
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
}
.select2-container .select2-selection--single {
  background: #fff;
  border: none;
  border-radius: 14px;
  height: 48px;
  padding: 10px 16px;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 0 0 2px #FFD70066;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 10px;
}

.select2-dropdown.select2-dropdown-custom {
  border-radius: 14px;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.select2-results__option {
  padding: 10px 14px;
  font-size: 1rem;
  text-align: right;
}
.appointment-row {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.appointment-form {
  flex: 1 1 400px;
  background: #DDDAD0;
  backdrop-filter: blur(12px);
  border-radius: 24px;
  padding: 40px 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.3);
  max-width: 500px;
}

.appointment-image {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.appointment-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  animation: floaty 4s ease-in-out infinite;
}

@keyframes floaty {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.title {
  font-size: 2rem;
  margin-bottom: 24px;
  color: #333;
}

.highlight {
  color: #F44373;
  font-weight: bold;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  background: #fff;
  color: #333;
}

.form-submit {
  text-align: center;
  margin-top: 20px;
}

.form-submit button {
  background: #F44373;
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 10px 25px rgba(244, 67, 115, 0.3);
  cursor: pointer;
}

.form-submit button:hover {
  background: #e63765;
}

.arrow {
  font-size: 1.2rem;
}

#form-message {
  margin-top: 20px;
  font-size: 1rem;
  color: #28a745;
  text-align: center;
}

@media (max-width: 768px) {
  .appointment-row {
    flex-direction: column-reverse;
  }

  .appointment-form, .appointment-image {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #appointment-section {
    padding: 24px 16px;
  }

  .appointment-row {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .appointment-form {
    padding: 20px 16px;
    max-width: 100%;
    width: 100%;
  }

  .appointment-image {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 180px;
    object-fit: contain;
  }

  .form-submit {
    margin-top: 20px;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 12px;
  }

  .form-group input,
  .form-group select {
    font-size: 0.95rem;
    padding: 10px 12px;
  }

  .form-submit button {
    padding: 10px 28px;
    font-size: 1.1rem;
  }

  #form-msg {
    font-size: 1rem;
  }
  .select2-dropdown-custom .select2-results__option {
    font-family: 'Vazirmatn', sans-serif;
    padding: 10px 12px;
    font-size: 14px;
    color: #333;
  }

  .select2-dropdown-custom .select2-results__option--highlighted {
    background-color: #F44373;
    color: white;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 14px;
    padding: 10px 16px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 0 2px #FFD70066;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 15px;
    color: #333;
  }

  .select2-selection__arrow {
    height: 100% !important;
  }
}
</style>
                    <section class="pt-5 appear-animate" data-animation-options="{
                        'name': 'fadeInUpShorter',
                        'duration': '1.2s',
                        'delay': '.2s'
                    }">
                        <h2 class="title-echo">وبلاگ <span>وبلاگ </span></h2>
                        <div class="owl-carousel owl-shadow-carousel owl-theme post-slider row cols-lg-3 cols-sm-2 cols-1"
                            data-owl-options="{
                             'rtl':true,
                            'nav': false,
                            'dots': true,
                            'margin': 20,
                            'responsive': {
                                '0': {
                                    'items': 1
                                },
                                '576': {
                                    'items': 2
                                },
                                '992': {
                                    'items': 3,
                                    'dots': false
                                }
                            }
                        }">
                            <div class="post drop-shadow mb-9 overlay-zoom">
                                <figure class="post-media" style="background-color: #efedee;">
                                    <a href="post-single.html">
                                        <img src="{% static 'images/demos/demo-food2/blog/blog1.jpg' %}" width="600" height="357"
                                            alt="post" />
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        <a href="#" class="post-date mr-1">2 آبان 1402</a> | <a href="#"
                                            class="post-comment ml-1"><span>2</span> نظر</a>
                                    </div>
                                    <h4 class="post-title ls-m text-normal"><a href="post-single.html">%20 تخفیف 
                                            برای این هفته </a>
                                    </h4>
                                    <a href="post-single.html" class="btn btn-link btn-underline btn-primary
                                font-primary font-weight-bold ls-m">بیشتر<i class="d-icon-arrow-left"></i></a>
                                </div>
                            </div>
                            <div class="post drop-shadow mb-9 overlay-zoom">
                                <figure class="post-media" style="background-color: #548b19;">
                                    <a href="post-single.html">
                                        <img src="{% static 'images/demos/demo-food2/blog/blog2.jpg' %}" width="600" height="357"
                                            alt="post" />
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        <a href="#" class="post-date mr-1">2 آبان 1402</a> | <a href="#"
                                            class="post-comment ml-1"><span>2</span> نظر</a>
                                    </div>
                                    <h4 class="post-title ls-m text-normal"><a href="post-single.html">%20 تخفیف 
                                            برای این هفته </a>
                                    </h4>
                                    <a href="post-single.html" class="btn btn-link btn-underline btn-primary
                                    font-primary font-weight-bold ls-m">بیشتر<i class="d-icon-arrow-left"></i></a>
                                </div>
                            </div>
                            <div class="post drop-shadow mb-9 overlay-zoom">
                                <figure class="post-media" style="background-color: #ececec;">
                                    <a href="post-single.html">
                                        <img src="{% static 'images/demos/demo-food2/blog/blog3.jpg' %}" width="600" height="357"
                                            alt="post" />
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        <a href="#" class="post-date mr-1">2 آبان 1402</a> | <a href="#"
                                            class="post-comment ml-1"><span>2</span> نظر</a>
                                    </div>
                                    <h4 class="post-title ls-m text-normal"><a href="post-single.html">%20 تخفیف 
                                            برای این هفته </a>
                                    </h4>
                                    <a href="post-single.html" class="btn btn-link btn-underline btn-primary
                                    font-primary font-weight-bold ls-m">بیشتر<i class="d-icon-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
<section class="social-section">
  <h2 class="social-title">شبکه‌های اجتماعی <span>ما را دنبال کنید</span></h2>

  <div class="social-icons-wrapper">
    <div class="social-icons">
      <a href="https://instagram.com/yourpage" target="_blank">
        <img src="{% static 'images/insta.png' %}" alt="Instagram">
      </a>
      <a href="https://youtube.com/yourchannel" target="_blank">
        <img src="{% static 'images/yy.png' %}" alt="YouTube">
      </a>
    </div>
  </div>

  <!-- سگ بچسبه به پایین -->
  <div class="dog-bottom-wrapper">
    <img src="{% static 'images/mm.png' %}" alt="" class="corner-dog">
  </div>
</section>
                    
                </div>
            </div>
        </main>


                </div>
            </div>
        </main>
{% endblock main %}